<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium-TestNG-Challenge">
	<listeners>
		<listener class-name="ar.com.manutesting.tests.ListenerTest" />
	</listeners>
	<test thread-count="5" name="Test-Challenge">
		<classes>
			<class name="ar.com.manutesting.tests.TestListadoProductos" />
		</classes>
	</test> <!-- Test-Challenge -->
</suite> <!-- Selenium-TestNG-Challenge -->
